<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>View Records</title>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
</style>
</head>
<body>
<a href="/">go to home</a>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>PPSN</th>
				<th>DOB</th>
				<th>Mobile Phone Number</th>
			</tr>
		</thead>
		<tbody>
		  <tr th:if="${ppsNumberModelList.empty}">
            <td colspan="4" align="center"> No records have been created </td>
        </tr>
		<tr th:each="item : ${ppsNumberModelList}">
			<td th:text="${item.name}"></td>
			<td th:text="${item.ppsNumber}"></td>
			<td th:text="${#dates.format(item.dateOfBirth, 'dd/MM/yyyy')}"></td>
			<td th:text="${item.mobilePhoneNumber}"></td>
		</tr>
		</tbody>
	</table>
</body>
</html>